:root {
    --drkbl: rgb(51, 51, 119);
    --baby: rgb(146, 209, 226);
    --gry: rgb(75, 75, 75);

}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;

}

body {
    background-color: white;

}

header {
    justify-content: space-between;
    color: var(--baby);
    background-color: var(--gry);
    display: flex;
    padding: 1%;
    align-items: center;
    
}

.profilepic {
    position:absolute;
    left: 15px;
    height: 150px;
    
}

#headertittle {
    height: 50px;
    width: 350px;
    color: var(--gry);
    margin-left: -50px;
    display: inline-block;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--baby);
    text-align: right;
}

nav a {
    font-size: 25px;
    margin-right: 25px;
    display: inline-block;
    /* text-decoration: none; */
    color: var(--baby);
 
}
nav ul li {
    display: inline-block;

}
/* 
main {
    display: flex;
    
} */
#banner {
    background-image: url("../images/grungy-white-background-natural-cement-stone-old-texture-as-retro-pattern-wall-conceptual-wall-banner-grunge-material-construction.jpg");;
    height: 150px;
    width: 100%;
    margin-bottom: 20px;
}

#bannersub {
    color: var(--gry);
    background-color: var(--baby);
    height: 40px;
    width: 10em;
    justify-content: center;
    display: flex;
    align-content: center;
    font-size: 30px;
    position: relative;
    top: 40%;
    left: 70%;
    
   
}
/* 
article {
    display: flex;
    
} */
.leftside {
    width: 200px;
    height: inherit;
    color: var(--drkbl);
    font-size: px;
    text-align: right;
    /* border-right: 5px solid;
    border-color: var(--drkbl); */
    /* display: flex; */
    flex-direction: row;
    position: absolute;
    margin-left: 0;
    flex: 1;

}

.bio {
    display: flex;
    margin-inline-start: 205px;
    color: var(--drkbl);
    margin-top: 25px;
    border-left: 3px solid;
    border-color: var(--drkbl);
    padding: 1%;
    margin-right: 50px;

    
}
.bio2 {
    display: flex;
    margin-inline-start: 205px;
    color: var(--drkbl);
    margin-bottom: 25px;
    border-left: 3px solid;
    border-color: var(--drkbl);
    padding: 1%;
    margin-right: 30px;
    flex-wrap: wrap;



}

.workbox1 {
    display: flex;
    height: 400px;
    border: 4px solid;
    border-color: var(--baby);
    flex: 1 0px;
    width: 100%;
    min-width: 300px;
    


}

.workbox2 {
    display: flex;
    height: 200px;
    border: 4px solid;
    border-color: var(--baby);
    flex: 1 0px;
    width: 100%;
    margin-right: 20px;
    flex-wrap: wrap;
    min-width: 300px;
    margin-bottom: 20px;
    
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 0%;
}

.footinfo {
    font-size: 25px;
    margin-bottom: 25px;
    display: inline-block;
    color: var(--drkbl);
    border-left: 3px solid;
    border-color: var(--drkbl);
    margin-inline-start: 205px;
    text-align: center;
    width: 100%;
    height: 60px;
    flex: 1 0px;
}
ul li {
    display: inline-block;
    
    
    /* width: 100%; */
    
    
}