:root {
    --drkbl: rgb(51, 51, 119);
    --baby: rgb(146, 209, 226);
    --gry: rgb(75, 75, 75);

}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;

}

Body {
    background-color: white;

}

header {
    justify-content: space-between;
    color: var(--baby);
    background-color: var(--gry);
    display: flex;
    padding: 1%;
    align-items: center;

    
}
#headertittle {
    height: 50px;
    width: 350px;
    color: var(--gry);
    margin-left: -50px;
    display: inline-block;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--baby);
    text-align: right;
}

nav a {
    font-size: 25px;
    margin-right: 25px;
    display: inline-block;
    /* text-decoration: none; */
    color: var(--baby);
 
}
ul li {
    display: inline-block;

}

#banner {
    background-image: url("../images/grungy-white-background-natural-cement-stone-old-texture-as-retro-pattern-wall-conceptual-wall-banner-grunge-material-construction.jpg");;
    height: 150px;
    width: 100%;
}

#bannersub {
    color: var(--gry);
    background-color: var(--baby);
    height: 40px;
    width: 10em;
    justify-content: center;
    display: flex;
    align-content: center;
    font-size: 30px;
    position: relative;
    top: 40%;
    left: 70%;
    
   
}